{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-3 mb-4" style="margin-top:5rem">
        <div class="card">
          <div class="card-header">Search</div>
            <div class="card-body">
              <form method="GET">
                <div class="mb-3">
                  <label class="form-label">{{ filter.form.full_name.label }}</label>
                  <input type="text" name="{{ filter.form.full_name.name }}" value="{{ filter.form.zip_code.value|default:'' }}" class="form-control">
                </div>
                <div class="mb-3">
                  <label class="form-label">{{ filter.form.zip_code.label }}</label>
                  <input type="text" name="{{ filter.form.zip_code.name }}" value="{{ filter.form.zip_code.value|default:'' }}" class="form-control">
                </div>
                <div class="mb-3">
                  <label class="form-label">{{ filter.form.search_by.label }}</label>
                  <select name="{{ filter.form.search_by.name }}" value="{{ filter.form.search_by.value|default:'' }}" class="form-control">
                      {% for choice in filter.form.search_by.field.choices %}
                      <option value="{{ choice.0 }}" {% if filter.form.search_by.value == choice.0 %}selected{% endif %}>{{ choice.1 }}</option>
                      {% endfor %}
                  </select>
                </div>         
                <div class="mb-3 form-check">
                  <input class="form-check-input" type="checkbox" name="{{ filter.form.exclude_missing_contact.name }}" id="excludeMissingContact" {% if filter.form.exclude_missing_contact.value %}checked{% endif %}>
                  <label class="form-check-label" for="excludeMissingContact">Exclude Missing Contact Info</label>
                </div>
              
                <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i> Search</button>
              </form>
            </div>
          </div>
        </div>
        
        <div class="col-lg-8">
          <div class="d-flex justify-content-between align-items-center mt-4">
            <h1>Customers</h1>
            <a href="{% url 'add_customer' %}" class="btn btn-primary">
              <i class="fas fa-user-plus"></i> Add Customer
            </a>
            <button id="send-message-button" class="btn btn-primary" disabled>
              <i class="fas fa-envelope"></i> Send Message
            </button>
          </div>

          <form id="bulk-send-message-form" method="POST" action="{% url 'bulk_message' %}" style="display: none;">
            {% csrf_token %}
          </form>    
  
          <table class="table table-striped mt-4 table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col"></th>
                  <th scope="col"></th>
                  <th scope="col">Full Name</th>
                  <th scope="col">Phone Number</th>
                  <th scope="col">Email</th>
                  <th scope="col">Address</th>
                  <th scope="col">Zip Code</th>
                </tr>
              </thead>
              <tbody>
                {% for customer in filter.qs %}
                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>
                      {% if customer.missing_contact_info %}
                        <i class="fas fa-flag text-danger"></i>
                      {% endif %}
                    </td>
                    <td><i class="fas fa-user-circle"></i></td>
                    <td><a href="{% url 'customer' id=customer.id %}">{{ customer.full_name }}</a></td>
                    <td>{{ customer.phone_number }}</td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.address }}</td>
                    <td>{{ customer.zip_code }}</td>
                    <td>
                      <input type="checkbox" class="customer-checkbox" data-customer-id="{{ customer.id }}" onchange="updateSendMessageButton()">
                    </td>
                  </tr>
                {% empty %}
                  <tr>
                    <td colspan="8" class="text-center">No customers found</td>
                  </tr>
                {% endfor %}
              </tbody>
          </table>
        </div>
      </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    function updateSendMessageButton() {
      const checkboxes = Array.from(document.querySelectorAll('.customer-checkbox'));
      const checkedCheckboxes = checkboxes.filter(cb => cb.checked);

      if (checkedCheckboxes.length > 0) {
        document.getElementById('send-message-button').disabled = false;
      } else {
        document.getElementById('send-message-button').disabled = true;
      }
    }

    document.getElementById('send-message-button').addEventListener('click', function() {
      const checkboxes = Array.from(document.querySelectorAll('.customer-checkbox'));
      const checkedCheckboxes = checkboxes.filter(cb => cb.checked);

      checkedCheckboxes.forEach(cb => {
        const input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'customers';
        input.value = cb.getAttribute('data-customer-id');
        document.getElementById('bulk-send-message-form').appendChild(input);
      });

      if (checkedCheckboxes.length === 1) {
        const id = checkedCheckboxes[0].getAttribute('data-customer-id');
        window.location.href = `{% url 'send_message' id=999 %}`.replace('999', id);
      } else if (checkedCheckboxes.length > 1) {
        document.getElementById('bulk-send-message-form').submit();
      }
    });

    // Add an event listener for each checkbox to check if any checkboxes are selected
    document.querySelectorAll('.customer-checkbox').forEach(checkbox => {
      checkbox.addEventListener('change', updateSendMessageButton);
    });

    window.onload = function() {
    var checkboxes = document.querySelectorAll('input[type=checkbox]');
    for (var i = 0; i < checkboxes.length; i++) {
      checkboxes[i].checked = false;
    }
  }
  
  </script>

{% endblock %}

